h1 {
    color: #4aaaa5;
}

#header {
    display: inline;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 960px;
}

#links{ 
    color: #777777;
    float: right;
}

body {
    width: 960px;
    background-image: url("./../images/white-waves.png");
}

#content {
    padding: 100px;
    padding-top: 0;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#container {
    float: center;
    text-align: center;
    display: inline-block;
    vertical-align: center;
}